<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714039102434-5391tur9s6okk633hstmts37cvp9f1ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714039102434-5391tur9s6okk633hstmts37cvp9f1ls</string>
	<key>API_KEY</key>
	<string>AIzaSyDGx-DAWnW3haY0SqnSnwpCGiXQASmO7GI</string>
	<key>GCM_SENDER_ID</key>
	<string>714039102434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdsDoorApp</string>
	<key>PROJECT_ID</key>
	<string>door-app-12838</string>
	<key>STORAGE_BUCKET</key>
	<string>door-app-12838.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714039102434:ios:9564c050fa335a80e107bb</string>
	<key>DATABASE_URL</key>
	<string>https://door-app-12838-default-rtdb.firebaseio.com</string>
</dict>
</plist>